<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title>{{page}} | ServiceExchange</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-9">
        <a class="navbar-brand" href="#">Navigation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5000">ServiceExchange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ajout">Ajouter un service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/services">Tous les services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/cookies">Cookies</a>
        </li>
        </ul>
        </div>
        </nav>
        <p class="col-3">Langue: {{langue}}</p>
        <button type="submit">Envoyer</button>
    </header>
    <main>
        {% block contenu %}
        {% endblock %}
    </main>
    </body>
    <footer class="d-flex justify-content-between">
        <p>Julien Morel</p>
        <p>Copyright © Julien Morel</p>
    </footer>
</body>


</html>