<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title>{{page}} | ServiceExchange</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="../images/rick.ico">
</head>

<body>
    <header>
    <h1><a href="http://127.0.0.1:5000">ServiceExchange</a></h1>
    <h2>{{page}}</h2>
    </header>
    <main>
        {% block contenu %}
        {% endblock %}
    </main>
    </body>
    <footer>
        <p>Julien Morel</p>
        <p>Copyright © Julien Morel</p>
    </footer>
</body>


</html>