{% extends "base.jinja" %}

{% block contenu %}
    <form method="post" action="/modification">
    <label for="id"></label>
    <input type="hidden" name="id" value="{{service.id_service}}">
    <div>
        <label for="titre">Titre:</label>
        <input type="text" name="titre" id="titre" value="{{service.titre}}">
    </div>
     <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="{{service.description}}">
    </div>
     <div>
        <label for="localisation">Localisation:</label>
        <input type="text" name="localisation" id="localisation" value="{{service.localisation}}">
    </div>
     <div>
        <label for="statut">Statut:</label>
                <select name="statut" id="statut">
                    {% if service.actif == 1%}
                    <option value="1" selected>Actif</option>
                    <option value="2">Inactif</option>
                    {% else %}
                    <option value="1">Actif</option>
                    <option value="2" selected>Inactif</option>
                    {% endif %}
                </select>
    </div>
     <div>
        <label for="cout">Coût:</label>
        <input type="number" name="cout" id="cout" value="{{service.cout}}">
    </div>
     <div>
        <label for="photo">Photo:</label>
        <input type="text" name="photo" id="photo" value="{{service.photo}}">
    </div>
    <button type="submit">Modifier</button>
    </form>

{% endblock %}